body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h2 {
    color: #2E2F42;
    font-size: 36px;
    letter-spacing: 0.02em;
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

header .logo {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.logo span {
    color: #4D5AE5;
}

.nav-list li a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
    

.ad-list li a {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
   letter-spacing: 0.02em;
}

.addresses {
    font-style: normal;
}

.nav-list li a:hover,
.nav-list li a:active,
.ad-list li a:hover {
    color: #404BBF
}

.title-section {
    background-color: #2E2F42;
}

.page-title {
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.071;
    color: #FFFFFF;
    text-align: center;
}

.order-btn {
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}

.team {
    background-color: #F4F4FD;
}

.team li {
    background-color: #FFFFFF;
}

.team h2,
.team h3,
.team p {
    text-align: center;
}

.foot {
    background-color: #2E2F42;
    color: #F4F4FD;
}

footer .logo {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}